// bower:scss
// endbower

@import 'bower_components/polymer-theme/sass/modules/all';

// Roboto Font Combinations
$heading-font-name:     'roboto-slab';
$font-lang:             'en';
$heading-font:          roboto-font($heading-font-name, 'heading');
$body-font:             roboto-font($heading-font-name, 'body');
@import url(roboto-font($heading-font-name, 'url') + '&lang=' + $font-lang);

.polymer-theme {
  @import 'variables';
  @import 'bower_components/polymer-theme/sass/base';

  /deep/ {
    @import 'bower_components/polymer-theme/sass/elements/all';
  }
}

.browserupgrade {
  background: #ccc;
  color: #000;
  margin: .2em 0;
  padding: .2em 0;
}
