// bower:scss
// endbower

@import 'bower_components/polymer-theme/sass/modules/all';

// Roboto Font Combinations
$heading-font-name:     'roboto-slab';
$font-lang:             'en';
$heading-font:          roboto-font($heading-font-name, 'heading');
$body-font:             roboto-font($heading-font-name, 'body');
@import url(roboto-font($heading-font-name, 'url') + '&lang=' + $font-lang);

.polymer-theme {
  @import 'variables';
  @import 'bower_components/polymer-theme/sass/base';

  /deep/ {
    @import 'bower_components/polymer-theme/sass/elements/all';
  }

  [drawer] {
    background-color: #eee;
  }

  main {
    padding-left: 30px;

    a {
      color: $dark-primary-color;
    }

    core-icon[icon="custom-icons:polymer"] {
      color: $primary-color;
      height: 50px;
      width: 50px;
    }
  }
}

.browserupgrade {
  background: #ccc;
  color: #000;
  margin: .2em 0;
  padding: .2em 0;
}
