extends layouts/default
include includes/variables

block content
	template(is='auto-binding' id='app')
		core-drawer-panel
			// Drawer
			core-header-panel(drawer)
				// Drawer Toolbar
				core-toolbar Menu
				// Drawer Content
				nav
					core-menu(selected='0')
						core-item(label='Polymer')
						core-item(label='Starter')
						core-item(label='Kit')
			// Main
			core-header-panel(main)
				// Main Toolbar
				core-toolbar
					paper-icon-button(icon='menu', core-drawer-toggle)
					span {{appName}}
				// Main Content with Markdown
				main
					include:markdown pages/home.md
