//- Layout
- lang = 'en'
- charset = 'utf-8'
- title = 'Polymer Starter Kit'
- description = ''
- theme_color = '#3F51B5' //- Indigo 500
- theme = 'polymer-theme'
- browserupgrade_url = 'http://outdatedbrowser.com/' + lang
- browserupgrade = 'You are using an <strong>outdated</strong> browser. Please <a href="' + browserupgrade_url + '">upgrade your browser</a> to improve your experience.'
